<!DOCTYPE html>

<html>
<head>
    <title>MDN</title>
    <link rel="stylesheet" href="/static/global.css">
    <script async src="/static/html-import.js"></script>
</head>

<header>
    <link href="/header" rel="html-import">
</header>

<body>
<div class="content-container">
    <h2>Lorem Ipsum</h2>
    Are there monsters under beds? Imagination and reason are fundamental parts of the human brain. Imagination can help
    us find a set of possibilities for an unknown. Meanwhile, reason helps us logically determine a reality out of that
    imagination. However, this does not always hold true. As such, what is imagination and reason, when does imagination
    overcome reason, and why does imagination overcome reason?

    <div class="content-container">
        Lorem ipsum dolor sit amet <br>
        Great heavens, we have lost the revolutionary war!
    </div>
</div>
</body>

</html>
