<!DOCTYPE html>

<html>
<head>
    <title>MDN</title>
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/index.css">
    <script async src="/static/html-import.js"></script>
</head>

<header>
    <link href="/header" rel="html-import">
</header>

<body>
<div class="content-container">
    <h2>About us</h2>
    MDN (also known as "DDNS" and "mindustry.ddns.net") is a server network in Mindustry. We have opened modes for
    survival, sandbox, PvP, attack, and events. Additionally, we develop plugins (primarily for usage in our own
    servers) that are open-source and able to be used by other servers.

    <div class="server-container" left>
        <h3>Survival</h3>
        Fight your way through endless brutal waves of enemy attacks, all as you build your factory to be efficient,
        powerful, and productive. In the end, your goal is to survive.
    </div>

    <div class="server-container" right>
        <h3>Sandbox</h3>
        Harness and apply your creativity with limitless resources and potential. Whether it be factory automation,
        efficient schematic designs, or roleplay — the only limit is your imagination.
    </div>
</div>
</body>

</html>
