<!DOCTYPE html>

<html>
<head>
    <title>MDN</title>
    <link rel="stylesheet" href="static/global.css">
</head>
<body>
<h1>Hello, world!</h1>
<div class="content-container">
    <h2>Lorem Ipsum</h2>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.
    In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla
    lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
    class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
</div>
</body>
</html>
