<!DOCTYPE html>

<html>
<head>
    <title>MDN</title>
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/rules.css">
    <script async src="/static/html-import.js"></script>
</head>

<header>
    <link href="/header" rel="html-import">
</header>

<body>
<h1>MDN Rules</h1>
<div class="content-container">
    <div class="rules-container">
        <h3>Discord Specific Rules</h3>
        <ul>
            <li>Follow the specific rules of each channel (No offtopic, in some channels)</li>
            <li>Do not display content that could cause a Photosensitive epilepsy without warnings.</li>
        </ul>

        <h3>Mindustry Specific Rules</h3>
        <ul>
            <li>Do not use any clients that will give you an advantage over other players.</li>
            <li>Do not grief.</li>
            <li>Do not waste resources or space on purpose. (Spamming builds falls under this)</li>
            <li>Do not build lag machines.</li>
            <li>Do not try to crash the servers.</li>
            <li>Do not build unsafe links, QR codes or unknown mindustry servers public IP addresses.</li>
            <li>Do not build 18+ imagery/content.</li>
            <li>Do not build content that could cause a Photosensitive epilepsy without warnings.</li>
            <li>No excessive self-promotion</li>
            <li>Don't build un-respectful things (no harassment, no racism, no hate speech, slurs, or personal attacks)</li>
        </ul>

        <h3>Chat Rules</h3>
        <sub>Includes all methods of communication.</sub>
        <ul>
            <li>Do not share unsafe links, QR codes or unknown mindustry servers public IP addresses.</li>
            <li>No pornographic discussion.</li>
            <li>No excessive self-promotion</li>
            <li>No spamming. (This means don't post the same message multiple times)</li>
            <li>Be respectful to others (no harassment, no racism, no hate speech, slurs, or personal attacks)</li>
            <li>Use English only to talk in public chat</li>
        </ul>

        <h3>Global Rules</h3>
        <sub>Rules that are applied everywhere in MDN</sub>
        <ul>
            <li>Only appropriate usernames.</li>
            <li>Do not mask your IP address or do anything that will make you avoid punishments.</li>
            <li>Do not share dangerous links.</li>
            <li>Don't disclose personal information</li>
            <li>Don't promote or encourage suicide or self-harm.</li>
            <li>Don't impersonate other users</li>
            <li>Do not impersonate other staff.</li>
        </ul>
    </div>
</div>
</body>

</html>
